---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

.inner {
    max-width: $large;
    margin-left: auto;
    margin-right: auto;
  }

  .post-content p:first-of-type {
    font-size: inherit !important;
    font-weight: inherit !important;
}

